.menu-link{
    color: #333; 
}

.testi-content p{
    font-size: 1rem;
}

.testi-meta span{
    color: #999 !important;
}

.header-extras li .he-text span{
    color: #333;
}

.svg-trigger path {
	stroke: #333;
}

.header-a-landing{
    color: #c98702;
    font-size: 0.8rem;
    font-weight: bold;
    
}

