.menu-link{
    color: #333; 
}

.testi-content p{
    font-size: 1rem;
}

.testi-meta span{
    color: #999 !important;
}

.header-extras li .he-text span{
    color: #333;
}

.svg-trigger path {
	stroke: #333;
}