.tp-kbimg{
	filter: brightness(50%);
}

#header{
	background-color: #fff;
}

#header-wrap{
	background-color: #fff;
}

.sticky-header #header-wrap{
	background-color: #fff;
}

.menu-item:hover > .menu-link, .menu-item.current > .menu-link {
	color: #b40000;
}

.menu-link{
	color: #b40000;
}

 /* Novo tamanho de fonte dos textos do slider para telas menores de 400px*/
@media (max-width: 440px) {
    .slider-text-mob-1 {
        font-size: 0.7em !important;
		line-height: 1em !important;
		letter-spacing: normal !important;
    }
	.slider-text-mob-2 {
        font-size: 1.2em !important;
		line-height: 2.0em !important;
		letter-spacing: normal !important;
    }
	.slider-text-mob-3 {
        font-size: 0.6em !important;
		line-height: 1.0em !important;
		letter-spacing: normal !important
    }

	.slider-text-mob-button {
		font-size: 1.4em !important;
		line-height: 1.4em !important;
		letter-spacing: normal !important
	}

	.icon-mob {
		
	}
}

/* CSS para header*/
.menu-link{
    color: #333; 
}

.testi-content p{
    font-size: 1rem;
}

.testi-meta span{
    color: #999 !important;
}

.header-extras li .he-text span{
    color: #333;
}


.svg-trigger path {
	stroke: #333;
}

.header-a-landing{
    color: #b40000;
    font-size: 0.9rem;
    font-weight: bold;
    
}

.header-a-landing:hover{
	color: #830000;
}

#header{
	background-color: #F9F9F9;
}

/* Regra para deixar os ícones do footer com a cor desejada*/
#footer.dark .social-icon.si-borderless {
	color: rgba(255,255,255,1.0) !important;
}